*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
header{
    background-color: rgb(134, 206, 248);
    text-align: justify;
    padding: .5rem ;
    
    color: white;
    font-size: 2rem;
}
h3{
    padding: 10px;
    font-weight: 300;
    background-color: rgba(227, 244, 255, 0.637);
    text-align: center;
}
#buttons{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
 
}
button{
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(134, 206, 248);
    border: none;
    width: 10rem;

}
#screen{
    min-height: 10rem;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    font-size: larger;
    border-bottom: 1px solid gainsboro;
}
#output{
    padding-top: 1rem;
    padding-left: 1.5rem;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    /* justify-content:space-between; */
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 3rem;
    /* margin-left: 2rem; */
    margin: auto;
    justify-content: center;
    background-color: rgba(216, 236, 250, 0.637);
    margin-top: 10px;
    border: 1px solid rgb(169, 175, 177);
    
}
form h2{
    margin-bottom: 5rem;
    padding: 20px;
    border-bottom: 1px solid black;
}
form input{
    margin:10px 0px;
    padding: 8px;
    background-color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid gainsboro;
}
form input:focus{
    outline: 1px solid rgb(27, 125, 206);
}
#submit_btn{
    width: 5rem;
    margin: 2rem auto;
    background-color: rgb(134, 206, 248);
}
.btn:hover,#submit_btn:hover{
    background-color: rgb(15, 164, 250);
    color: white;
}

@media only screen and (max-width:400px)
{
    body{
        font-size: small;
    }
    form{
        width: 100%;
        padding: 20px;
        margin-left: 0px;
        margin: auto;
    }
    form h2{
        margin-bottom: 10px;
        padding: 5px;
    }
    form input{
        padding: 3px;
    }
    #buttons{
        margin: 0%;
        padding-bottom: 10px;
        
    }
    
   
    #output{
        padding:0%;
        padding-top: 1rem;
    }
}
