*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    width: 98%;
    
}
header{
    background-color: rgb(134, 206, 248);
    text-align: justify;
    padding: .5rem 3rem;
    color: white;
    font-size: 2rem;
}
h3{
    padding: 10px;
    font-weight: 300;
    background-color: rgba(227, 244, 255, 0.637);
    text-align: right;



}
#buttons{
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid rgb(210, 230, 236);
    padding: 30px;
    float: right;
    margin-right: 3rem;
}
button{
    padding: 5px;
    height: rem;
    margin-top: 10px;
    background-color: rgb(134, 206, 248);
    border: none;

}
#screen{
    width: 20%;
    min-height: 10rem;
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: larger;
    margin: auto;
    border-bottom: 1px solid gainsboro;
}
#output{
    padding-left: 2rem;
    padding-top: 1rem;
}
#container{
    padding: rem;

}
form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 3rem;
    margin-left: 2rem;
    justify-content: center;
    background-color: rgba(216, 236, 250, 0.637);
    border: 1px solid rgb(169, 175, 177);
    
}
form h2{
    margin-bottom: 5rem;padding: 20px;
    border-bottom: 1px solid black;
}
form input{
    margin:10px 0px;
    padding: 8px;
    background-color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid gainsboro;
}
form input:focus{
    outline: 1px solid rgb(27, 125, 206);
}
#submit_btn{
    width: 5rem;
    margin: 2rem auto;
    background-color: rgb(134, 206, 248);
}
.btn:hover,#submit_btn:hover{
    background-color: rgb(15, 164, 250);
    color: white;
}

.delete_btn{
    margin: auto;
}
/* media query */
@media only screen and (max-width:400px)
{
    body{
        font-size: small;
    }
    form{
      
        width: 85%;
        padding: 20px;
        margin-left: 0px;
        margin: auto;
    }
    form h2{
        margin-bottom: 10px;
        padding: 5px;
    }
    form input{
        padding: 3px;
    }

    #buttons{
        width: 80%;
        float: none;
        margin: auto;
    }
    button{
        padding: 5px;
        margin-top: 10px;
        background-color: rgb(134, 206, 248);
        border: none;
    
    }
    #output{
        padding-left: 0rem;
        padding-top: 2rem;
    }
}
